/* Mediaquery Mobile */
/* @media ( max-width: 480px) {

    

}

/* Mediaquery Tablets*/
/* @media ( min-width: 481px) and (max-width:1024px) {

}

/* Mediaquery Desktop*/
/* @media (min-width: 1025px) { */


* {
    margin: 0;
    padding: 0;
}

h1 {
    background-color:aqua;
    text-align: center;
    position: fixed;
    width: 1500px;
    margin-top: 0px;
}
ul {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    list-style: none;
    column-gap: 50px;
    row-gap: 50px;
    justify-content: center;
    padding: 20px;
    margin-top: 50px;
    margin-left: 70px;
    
}

.img {

    width: 100%;
    height: 250px;
    border: black solid;
    border-radius: 50px 0;
}

.card {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    text-align: center;
}

.card section{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    backface-visibility: hidden;
    transition: 1s;

}

.card .front {
    width: 300px;
    height: 400px;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    transform: perspective(500px) rotateY(0deg);
    border: black solid;
    border-radius: 50px;
    padding: 15px;
}

.card .back {
    width: 300px;
    height: 400px;
    background: radial-gradient(circle, rgba(148,187,233,1) 0%, rgba(238,174,202,1) 100%);
    transform: perspective(500px) rotateY(180deg);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: justify;
    padding: 15px;
    border: black solid;
    border-radius: 50px;
}

.card:hover .front {
    transform: perspective(500px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(500px) rotateY(360deg);
}

footer {
    text-align: center;
    bottom: 0;
    padding: 20px;
}

#sideBar {
    position: fixed;
    width: 150px;
    height: 100%;
    background-color: #3AA6B9;
    color: black;
    left: -150px;
    margin-top: 37px;
    align-items: center;
    text-align: center;
}


select {
    color: black;
    text-align: center;
    width: 150px;
}

#sideBar .toggle-btn {
    left: 150px;
    top: 0px;
    cursor: pointer;
}
#sideBar.active{
    left: 0;
}
.toggle-btn {
    display: block;
    width: 50px;
    text-align: center;
    font-size: 30px;
    color: black;
    position:absolute;
    cursor: pointer;
}

