

header{
    margin-left: 50px;
    text-align: lef;
    font-size: 100px;
}

header h1 {
    margin: 0;
    font-size: 100px;
    color: rgb(226, 165, 8);
}




h2{
    text-align: left;
    margin-left: 50px;
    font-size: 20px;
}



img{
    width: 300px;
    height: 300px;
    display: block;
    margin:0 auto;
}


aside{
   
    padding-left: 15px;
    margin-right: 15px;
    font-style: Arial;
    display: block;
   
}


#root{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
     
}

li{
    border-radius: 10px 5px 10px;
    border: 1px solid rgb(226, 165, 8);
    list-style: none;
    margin-top: 10px;
    margin-left: 10px;
    width: 20%; 
    float: left; 
    height: 14%;  
    padding: 5px;
    justify-content: center;
    align-items: center;
   
}

footer{
    float: right;


}